/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

:root {
  --dusty-olive: #616846;
  --soft-linen: #f0ece3;
  --soft-linen-shadow: #ede7df;
  --dry-sage: #9ca381;
}

body {
  background-color: var(--soft-linen);
  color: var(--dusty-olive);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

/* Index page styling */
.index-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-box,
a {
  text-decoration: none;
  color: var(--dusty-olive);
}

.tasks {
  width: 60%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.list-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
}

.custom-line {
  border: none;
  border-top: 2px solid var(--dry-sage); /* Creates a 2px solid grey line */
  margin: 20px 0; /* Adds space above and below the line */
  width: 60%; /* Sets the width to 50% of its container */
}

.add-task-icon {
  width: 40px;
  height: auto;
  display: block;
}

.task-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  font-size: large;
}

.custom-checkbox {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--dusty-olive);
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  background-color: white;
}

.custom-checkbox:checked {
  background-color: var(--dry-sage); /* Fill color when checked */
}

.task-box {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* max-width: 50%; */
}

.task-info {
  text-align: left;
  width: 100%;
}

/* Create Task form styling */
.task-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.text-input {
  background-color: var(--soft-linen-shadow);
  border: none;
  height: 100px;
  vertical-align: top;
  padding: 10px;
  width: 300px;
  color: var(--dusty-olive);
}

.button {
  border: none;
  width: 100%;
  height: 50px;
  color: var(--soft-linen);
  font-size: large;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.button-dark {
  background-color: var(--dry-sage);
  border: 2px solid var(--dry-sage);
}

.button-light {
  background-color: var(--soft-linen);
  border: 2px solid var(--dry-sage);
  color: var(--dry-sage);
}

.button-holder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.task-display-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
