/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */

:root {
  --dusty-olive: #616846;
  --soft-linen: #f0ece3;
  --soft-linen-shadow: #ede7df;
  --dry-sage: #9ca381;
}

body {
  background-color: var(--soft-linen);
  color: var(--dusty-olive);
  font-family: "Times New Roman", Times, serif;
}

.task-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 50%;
}

.task-info {
  text-align: left;
  width: 100%;
}

/* Create Task form styling */
.task-form-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.task-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

.text-input {
  background-color: var(--soft-linen-shadow);
  border: none;
  height: 100px;
  vertical-align: top;
  padding: 10px;
  width: 300px;
  color: var(--dusty-olive);
}

.submit-button {
  background-color: var(--dry-sage);
  border: none;
  width: 100%;
  height: 50px;
  color: var(--soft-linen);
  font-size: large;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
